# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# ignore .* files
.*
!/.gitignore
!/.gitattributes

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

checkpoints/
dataset/*
!dataset/*.py
!dataset/*.proto
!dataset/**/*.py
!dataset/**/*.proto
log/
taming-transformers/
taming/
wandb/
